<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../assets/styles/nav-foot.css">
  <link rel="stylesheet" href="../assets/styles/about.css">
  <title>Document</title>
</head>
<body>
  
  <nav id="navbar">
    <a href="../index.html"><img class="logo-ewe" src="../assets/images/logo-img.png" alt="logo"></a>
    <a href="../index.html"><img class="logo-ewe" src="../assets/images/logo-letters.png" alt="logo"></a>
    <ul id="nav-desktop">
      <li><a href="../index.html">Inicio</a></li>
      <li><a href="../views/cursos.html">Cursos</a></li>
      <li><a href="../views/about-us.html">About us</a></li>
      <li><a href="../views/contacto.html">Contacto</a></li>
      <li><a href="../views/test-view.html">Test your English</a></li>
      <a class="insc-btn" href="../views/inscripcion.html">Inscribirme</a>
    </ul>
    <button id="ham-btn" type="button"><img src="../assets/images/ham-btn.png" alt="menu btn"></button>
    <button id="close-btn" type="button"><img src="../assets/images/close-btn.png" alt="close menu btn"></button>
  </nav>

  <section id="nav-menu" style="display: none;">
    <ul>
      <li><a href="../index.html">Inicio</a></li>
      <li><a href="cursos.html">Cursos</a></li>
      <li><a href="about-us.html">About us</a></li>
      <li><a href="contacto.html">Contacto</a></li>
      <li><a href="test-view.html">Test your English</a></li>
      <a class="insc-btn" href="inscripcion.html">Inscribirme</a>
    </ul>
  </section>

  <a id="whatsapp" href="https://wa.me/525543826531?text=Hola,%20quiero%20más%20información%20sobre%20los%20cursos%20de%20inglés." target="_blank" rel="noopener">
    <img src="../assets/images/WA-verde.png" alt="whatsapp link">
  </a>

  <section class="about">

    <div class="left-div">
      <div class="about-title slide-in-left">
        <h3>ABOUT</h3>
        <h2>US</h2>
      </div>
      <img class="zoom-in" src="../assets/images/logo-img.png" alt="">
      <div class="text-div slide-in-right">
        <p><span class="red">English with Ease</span> nace de las dificultades que trajo consigo la pandemia de COVID19; en un momento en que el mundo se vio obligado a reinventarse en respuesta a la necesidad persistente de aprender inglés.</p>
        <p>La pandemia nos impulsó a buscar nuevas formas de conectar y aprender, y vimos en la educación online una oportunidad para derribar barreras y hacer el inglés accesible para todos. Viendo hacia el futuro a través de la adversidad, comenzamos el trayecto que nos ha llevado hasta aquí.</p>
        <span class="red">¿Por qué limitarnos a estudiar inglés de manera presencial, cuándo los recursos en línea nos pueden brindar el mismo objetivo?</span>
        <p>Nos inspiramos en las posibilidades que nos brindan las tecnologías de la información y la comunicación para crear una experiencia de aprendizaje dinámica, interactiva y eficaz. Si bien tenemos que adaptarnos al futuro, debemos también transformarnos y aprovechar lo adverso como fue el COVID19, para hoy en día brindar clases de alta calidad que se adaptan a tu ritmo de vida. Creemos en el poder de la tecnología para transformar la enseñanza y hacerla accesible para todos.</p>
      </div>
    </div>

    <div class="right-div slide-in-left">
      <div class="mision">
        <h3>MISION</h3>
        <p>En EwE, nuestra misión es democratizar el aprendizaje del inglés, haciéndolo accesible para todos. Rompemos las barreras de la educación tradicional al ofrecer clases online de alta calidad, flexibles y a precios competitivos, que se adaptan a tu ritmo de vida. Creemos que aprender inglés debe ser una experiencia agradable, motivadora y eficaz, y nos esforzamos por brindar las herramientas y el apoyo necesario para que alcances tus metas.</p>
      </div>
      <div class="vision">
        <h3>VISION</h3>
        <p>Aspiramos a ser la escuela de inglés online líder en el mercado, reconocida por la excelencia de nuestros métodos de enseñanza, la calidad de nuestros profesores y la satisfacción de nuestros estudiantes. Queremos construir una comunidad global de aprendizaje donde personas de todas partes del mundo puedan conectarse, inspirarse y alcanzar la fluidez en inglés.</p>
      </div>
    </div>
    
  </section>
 
  <footer>
    <div class="footer-div">
      <p>¿Tienes preguntas? <br> <a href="mailto:contacto@eweacademy.com" target="_blank">Contáctanos</a></p>
      <p>¿Listo para dominar el inglés? <br> <a href="../views/inscripcion.html">Inscríbete</a></p>
    </div>
    <div class="footer-div">
      <p>© 2025 English with Ease. <br>Todos los derechos reservados.</p>
      <div class="links-footer">
        <a href="https://www.facebook.com/EngwithEase" target="_blank" rel="noopener">
          <img src="../assets/images/facebook.png" alt="Facebook link">
        </a>
        <a href="mailto:contacto@eweacademy.com" target="_blank" rel="noopener">
          <img src="../assets/images/gmail.png" alt="mail to">
        </a>
        <a href="https://wa.me/525543826531?text=Hola,%20quiero%20más%20información%20sobre%20los%20cursos%20de%20inglés." target="_blank" rel="noopener">
          <img src="../assets/images/whatsapp.png" alt="whatsapp link">
        </a>
      </div>
    </div>
  </footer>
  
  <div class="sub-footer">
    <p>Este sitio fue diseñado por Dev 4 All. ¿Te gustaría uno igual? Descubre más aquí.</p>
  </div>

  <script src="../js/nav-foot.js"></script>

</body>
</html>