<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../assets/styles/nav-foot.css">
  <link rel="stylesheet" href="../assets/styles/cursos.css">
  <title>Cursos EwE</title>
</head>
<body>
  <nav>
    <img src="../assets/images/logo-img.png" alt="logo">
    <img src="../assets/images/logo-letters.png" alt="">
    <ul>
      <li><a href="../index.html">Inicio</a></li>
      <li><a href="cursos.html">Cursos</a></li>
      <li><a href="about-us.html">About us</a></li>
      <li><a href="contacto.html">Contacto</a></li>
      <li><a href="test-view.html">Test your English</a></li>
      <a class="insc-btn" href="views/inscripcion.html">Inscribirme</a>
    </ul>
    <img src="../assets/images/ham-btn.png" alt="menu btn" style="display: none;">
    <img src="../assets/images/close-btn.png" alt="close menu btn" style="display: none;">
  </nav>

  <main class="niveles">
  <div class="intro-niveles">
    <h2>Explora nuestros cursos y encuentra el que mejor se adapte a tu nivel y necesidades</h2>
    <img class="cefr" src="../assets/images/cefr.png" alt="">
    <h2>Nuestro programa sigue el Marco Común Europeo de Referencia para las Lenguas (CEFR), cubriendo los niveles A1 a B2, cada uno dividido en dos subniveles para facilitar el aprendizaje progresivo.</h2>
  </div>
  <h2 id="btn-div-title">NUESTROS CURSOS</h2>
  <div class="btn-div">
    <button id="a1" data-level="A1">
      <img src="../assets/images/a1-icon.png" alt="Level Icon">
      <h2>A1</h2>
    </button>
    <button id="a2" data-level="A2">
      <img src="../assets/images/a2-icon.png" alt="Level Icon">
      <h2>A2</h2>
    </button>
    <button id="b1" data-level="B1">
      <img src="../assets/images/b1-icon.png" alt="Level Icon">
      <h2>B1</h2>
    </button>
    <button id="b2" data-level="B2">
      <img src="../assets/images/eagle-2.png" alt="Level Icon">
      <h2>B2</h2>
    </button>
  </div>
  <div id="info-cont">
    <!-- Contenido en JS -->
  </div>

  <button id="conv-btn">Conversational</button>
  <div id="conv-info">
    <!-- Contenido en JS -->
  </div>
</main>

<footer>
  <div>
    <p>¿Tienes preguntas? <br> <a href="mailto:contacto@eweacademy.com" target="_blank">Contáctanos</a></p>
    <p>¿Listo para dominar el inglés? <br> <a href="views/inscripcion.html">Inscríbete</a></p>
    <p>© 2025 English with Ease. <br>Todos los derechos reservados.</p>
  </div>
  <a href="https://www.facebook.com/EngwithEase" target="_blank">
    <img src="../assets/images/facebook.png" alt="Facebook link">
  </a>
  <a href="mailto:contacto@eweacademy.com" target="_blank">
    <img src="../assets/images/gmail.png" alt="mail to">
  </a>
  <a href="https://wa.me/525543826531?text=Hola,%20quiero%20más%20información%20sobre%20los%20cursos%20de%20inglés." target="_blank">
    <img src="../assets/images/whatsapp.png" alt="whatsapp link">
  </a>
</footer>
<div class="sub-footer">
  <p>Este sitio fue diseñado por Dev 4 All. ¿Te gustaría uno igual? Descubre más aquí.</p>
</div>
<script src="../js/cursos.js"></script>
</body>
</html>