<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../assets/styles/nav-foot.css">
  <link rel="stylesheet" href="../assets/styles/more-info-form.css"> 
  <link rel="icon" href="../assets/images/logo-img.png" type="image/png">
  <title>Contacto</title>
</head>
<body>
  
  <nav id="navbar">
    <a href="../index.html"><img class="logo-ewe" src="../assets/images/logo-img.png" alt="logo"></a>
    <a href="../index.html"><img class="logo-ewe" src="../assets/images/logo-letters.png" alt="logo"></a>
    <ul id="nav-desktop">
      <li><a href="../index.html">INICIO</a></li>
      <li><a href="../views/cursos.html">CURSOS</a></li>
      <li><a href="../views/about-us.html">ABOUT US</a></li>
      <li><a href="../views/contacto.html">CONTACTO</a></li>
      <li><a href="../views/test-view.html">TEST YOUR ENGLISH</a></li>
      <a class="insc-btn" href="../views/inscripcion.html">INSCRIBIRME</a>
    </ul>
    <button id="ham-btn" type="button"><img src="../assets/images/ham-btn.png" alt="menu btn"></button>
    <button id="close-btn" type="button"><img src="../assets/images/close-btn.png" alt="close menu btn"></button>
  </nav>

  <section id="nav-menu" style="display: none;">
    <ul>
      <li><a href="../index.html">Inicio</a></li>
      <li><a href="cursos.html">Cursos</a></li>
      <li><a href="about-us.html">About us</a></li>
      <li><a href="contacto.html">Contacto</a></li>
      <li><a href="test-view.html">Test your English</a></li>
      <a class="insc-btn" href="inscripcion.html">Inscribirme</a>
    </ul>
  </section>

  <main class="form-section">

    <div class="more-form">
      <div class="form-home slide-in-right">
        <p>Regístrate ahora para recibir más información sobre el curso y conocer todos los detalles de los costos.</p>
        <form class="form" action="">
          <input id="name" type="text" placeholder="Nombre" required>
          <input id="email" type="email" placeholder="Correo" required>
          <input id="tel" type="tel" placeholder="Teléfono" required>
          <input id="birthdate" type="date" name="birthdate" required>
          <button class="pink-btn form-btn">ENVIAR</button>
        </form>
      </div>
    </div>

  </main>

  <footer>
    <div class="footer-div">
      <p>¿Tienes preguntas? <br> <a href="mailto:contacto@eweacademy.com" target="_blank">Contáctanos</a></p>
      <p>¿Listo para dominar el inglés? <br> <a href="../views/inscripcion.html">Inscríbete</a></p>
    </div>
    <div class="footer-div">
      <p>© 2025 English with Ease. <br>Todos los derechos reservados.</p>
      <div class="links-footer">
        <a href="https://www.facebook.com/EngwithEase" target="_blank" rel="noopener">
          <img src="../assets/images/facebook.png" alt="Facebook link">
        </a>
        <a href="mailto:contacto@eweacademy.com" target="_blank" rel="noopener">
          <img src="../assets/images/gmail.png" alt="mail to">
        </a>
        <a href="https://wa.me/525543826531?text=Hola,%20quiero%20más%20información%20sobre%20los%20cursos%20de%20inglés." target="_blank" rel="noopener">
          <img src="../assets/images/whatsapp.png" alt="whatsapp link">
        </a>
      </div>
    </div>
  </footer>
  
  <div class="sub-footer">
    <p>Este sitio fue diseñado por Dev 4 All. ¿Te gustaría uno igual? Descubre más aquí.</p>
  </div>

<script src="../js/form.js" defer></script>
<script src="../js/nav-foot.js"></script>

</body>
</html>