<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../assets/styles/nav-foot.css">
  <link rel="stylesheet" href="../assets/styles/test-view.css">
	<title>Document</title>
</head>
<body>
	<nav>
    <img src="../assets/images/logo-img.png" alt="logo">
    <img src="../assets/images/logo-letters.png" alt="">
    <ul>
      <li><a href="../index.html">Inicio</a></li>
      <li><a href="cursos.html">Cursos</a></li>
      <li><a href="about-us.html">About us</a></li>
      <li><a href="contacto.html">Contacto</a></li>
      <li><a href="test-view.html">Test your English</a></li>
      <a class="insc-btn" href="views/inscripcion.html">Inscribirme</a>
    </ul>
    <img src="../assets/images/ham-btn.png" alt="menu btn" style="display: none;">
    <img src="../assets/images/close-btn.png" alt="close menu btn" style="display: none;">
  </nav>

	<section class="test-view">
    <div class="div-test-v">
      <div class="test-logo">
        <h2>DESCUBRE AQUÍ</h2>
        <h1>TU NIVEL DE INGLÉS</h1>
      </div>
      <span>¿Listo para dominar el inglés?</span>
      <p>Nuestro test gratuito te ayudará a determinar tus habilidades lingüísticas actuales, descubre tu nivel y encuentra el curso perfecto para ti.</p>
      <p>Da el primer paso hacia la fluidez en inglés con English With Ease y desbloquea tu potencial.</p>
      <p>En solo 35 minutos, estarás más cerca de tus metas.</p>
      <a href="test.html">Comienza ahora</a>
    </div>
  </section>

	<footer>
    <div>
      <p>¿Tienes preguntas? <br> <a href="mailto:contacto@eweacademy.com" target="_blank">Contáctanos</a></p>
      <p>¿Listo para dominar el inglés? <br> <a href="views/inscripcion.html">Inscríbete</a></p>
      <p>© 2025 English with Ease. <br>Todos los derechos reservados.</p>
    </div>
    <a href="https://www.facebook.com/EngwithEase" target="_blank" rel="noopener">
      <img src="../assets/images/facebook.png" alt="Facebook link">
    </a>
    <a href="mailto:contacto@eweacademy.com" target="_blank" rel="noopener">
      <img src="../assets/images/gmail.png" alt="mail to">
    </a>
    <a href="https://wa.me/525543826531?text=Hola,%20quiero%20más%20información%20sobre%20los%20cursos%20de%20inglés." target="_blank" rel="noopener">
      <img src="../assets/images/whatsapp.png" alt="whatsapp link">
    </a>
  </footer>
  <div class="sub-footer">
    <p>Este sitio fue diseñado por Dev 4 All. ¿Te gustaría uno igual? Descubre más aquí.</p>
  </div>
</body>
</html>