.about {
  padding: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding-top: 100px;
  background: linear-gradient(180deg, var(--azul-claro-ewe), #fff, #ffb4bade);
}

.about-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-title h1 {
  font-size: 110px;
  color: var(--rosa-ewe);
  margin: 50px 0;
  font-family: var(--titulos);
  line-height: 40%;
  width: fit-content;
  white-space: nowrap;
  z-index: 1;
  position: relative;
}

#about-span-div {
  position: relative;
}

#about-span {
  width: 325px;
  height: 55px;
  background-color: var(--naranja-ewe);
  display: flex;
  position: absolute;
  z-index: 0;
  border-radius: 20px;
  bottom: 20px;
  left: 16px;
}

.about-title img {
  height: 100px;
  width: 100px;
}

.historia-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-div {
  font-family: var(--texto-gral);
  color: #000;
  padding: 10px 30px;
  border-radius: 30px;
  margin: 30px 0 0 0;
  text-align: justify;
  font-size: 16px;
  font-weight: 300;
}

.red {
  color: var(--rojo-ewe);
}

.historia-div img {
  margin: 20px 0;
  height: 160px;
}

.detras-de-ewe {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.titulo-rojo {
  font-family: var(--subtitulos);
  font-size: 21px;
  font-weight: 300;
  margin: 0 0 20px 0;
  color: #fff;
  background-color: #ca1218d7;
  width: fit-content;
  padding: 2px 5px;
  border-radius: 5px;
  line-height: 160%;
  text-align: center;
  margin-bottom: 20px;
}

#imagen-prueba {
  width: 200px;
  height: 210px;
  border-radius: 15px;
  margin: 20px 0 40px 0;
}

.mision-vision {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 320px) {
  .about-title h1 {
    font-size: 90px;
  }
}

@media (min-width: 768px) {
  .historia-div,
  .detras-de-ewe {
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
  }

  .detras-de-ewe {
    align-items: center;
  }

  .detras {
    margin: 0;
    width: 350px;
  }

  .historia {
    width: 450px;
  }

  .mision-vision {
    flex-direction: row;
    align-items: flex-start;
  }

  .m-s {
    width: 300px;
  }
}

@media (min-width: 1024px) {
  .about-title {
    flex-direction: row;
    gap: 50px;
    align-items: center;
    justify-content: flex-start;
    width: 935px;
    margin-top: 50px;
  }

  .historia-div {
    flex-direction: row;
    gap: 50px;
    width: 935px;
  }

  .historia-div img {
    height: 200px;
    margin: 0 110px;
  }

  .historia {
    padding: 0;
    width: 585px;
  }

  .detras-de-ewe {
    flex-direction: row;
    gap: 50px;
    width: 935px;
  }

  .detras-de-ewe img {
    margin: 0 50px;
  }

  .detras {
    margin: 0;
    padding: 0;
    width: 585px;
  }

  .mision-vision {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 50px;
    width: 935px;
    margin-top: 50px;
  }

  .mision-vision h2 {
    justify-self: center;
  }

  .m-s {
    padding: 0;
    width: 380px;
  }
}
