.contacto {
  padding: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  padding-top: 100px;
  flex: 1;
}

.div-cont {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contacto h3 {
  color: #061069;
  font-family: var(--texto-gral);
  font-size: 20px;
  text-align: justify;
  font-weight: 500;
  margin-bottom: 10px;
  width: 90%;
}

.links {
  margin: 100px 0 50px 0;
  display: flex;
  justify-content: center;
  gap: 50px;
}

.links a {
  color: var(--rojo-ewe);
  font-family: var(--subtitulos);
  text-decoration: none;
  font-size: 20px;
  text-align: center;
  background-color: var(--rosa-ewe);
  border-radius: 30px;
  padding: 5px 25px;
  letter-spacing: 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  position: relative;
}

.links a img {
  top: -60px;
  position: absolute;
  height: 50px;
}