.niveles {
  flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
  padding-top: 110px ;
}

.niveles h2 {
	color: #01002e;
  font-family: Karla;
  font-size: 35px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 95px;
  text-align: center;
  margin: 0;
  width: 50%;
}

.niveles h2:nth-child(1) {
  padding-top: 100px;
}

.niveles h2:nth-child(2) {
  padding: 0;
  font-size: 30px;
  font-weight: 200;
}

.cefr  {
  height: 200px;
  padding: 100px;
}

.btn-div {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 500px;
  gap: 10px;
}

.btn-div button {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Karla;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  width: 250px;
}

/* .btn-div button img {
	height: 70%;
	width: 70%;
} */

.btn-div button h2 {
	margin: 0 0 20px 0;
}

#a1 {
  height: 40%;
}

#a1 img {
  height: 130px;
}

#a2 {
  height: 50%;
}

#a2 img {
  height: 200px;
}

#b1 {
  height: 70%;
}

#b1 img {
  height: 250px;
}

#b2 {
  height: 90%;
}

#b2 img {
  height: 300px;
}

.subniveles {
	display: flex;
}

#conv-btn {
	height: 60px;
	margin: 50px;
}

#conv-info img {
  height: 200px;
}

.conv-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

