.niveles {
  flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
  padding-top: 110px ;
}

.niveles h2 {
	color: #01002e;
  font-family: Karla;
  font-size: 35px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 95px;
  text-align: center;
  margin: 0;
  width: 50%;
}

.niveles h2:nth-child(1) {
  padding-top: 100px;
}

.niveles h2:nth-child(2) {
  padding: 0;
  font-size: 30px;
  font-weight: 200;
}

.niveles h2:nth-child(4) {
  text-align: center;
  color: #01002e;
  font-family: Karla;
  font-size: 50px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.cefr  {
  height: 200px;
  padding: 100px;
}

.btn-div {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 500px;
  gap: 10px;
}

.btn-div button {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Karla;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  width: 200px;
  overflow: hidden;
  border: none;
}

.btn-div button:hover {
  scale: 103%;
  box-shadow: 4px 4px 10px 0px rgba(0,0,0,0.65);
}

.info-container {
  width: 830px;
  margin: 50px 0;
  padding: 50px;
  border: solid 1px #183C4B;
  box-sizing: border-box;
}

.info-container h3 {
  padding: 0;
  text-align: start;
  font-size: 40px;
  margin: 10px 0;
}

.info-container h2 {
  padding: 0;
  text-align: start;
  font-size: 28px;
  margin-bottom: 40px;
}

.info-container p {
  font-size: 25px;
}

.info-container .subniveles {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.btn-div button h2 {
	margin: 0 0 20px 0;
}

#a1 {
  height: 40%;
  background-color: #A5C6F7;
}

#a1 img {
  height: 120px;
}

#a2 {
  height: 60%;
  background-color: #5294F7;
}

#a2 img {
  height: 160px;
}

#b1 {
  height: 80%;
  background-color: #297BF7;
}

#b1 img {
  height: 220px;
}

#b2 {
  height: 100%;
  background-color: #0052CD;
}

#b2 img {
  height: 300px;
}

.subniveles {
	display: flex;
}

#conv-btn {
	color: #01002e;
  font-family: Karla;
  font-size: 35px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  padding: 30px;
  margin: 150px 0;
  background-color: #fff;
  border: solid 1px #183C4B;
}

#conv-info img {
  height: 200px;
}

.conv-container {
  display: flex;
  align-items: center;
}

.conv-container h3 {
  text-align: center;
}

.conv-container div:nth-child(1) {
  margin-right: 50px;
  text-align: center;
}

.conv-container div:nth-child(2) {
  width: 60%;
}
