body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Home */

.home {
  padding: 110px 0 100px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background-color: #f4f4f4;
}

.pres {
  width: 50%;
}

.pres h3 {
  color: #01002e;
  font-family: Karla;
  font-size: 45px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 100px;
}

/* Forma de trabajo */

.forma-trabajo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 50px;
  margin-bottom: 100px;
}

.forma-trabajo h2 {
  text-align: center;
  color: #01002e;
  font-family: Karla;
  font-size: 50px;
  font-style: normal; 
  font-weight: 600;
  line-height: normal;
  margin-bottom: 100px;
}

.forma-trabajo img {
  border-radius: 500px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
  height: 450px;
}

.forma-div {
  display: flex;
  gap: 50px;
  margin-bottom: 50px;
  margin: 25px 100px;
  width: 80%;
  justify-content: center;
  align-items: center;
}

#forma-2nd {
  flex-direction: row-reverse;
}

.forma-div div {
  width: 50%;
  margin-left: 50px;
}

.subtitle {
  color: #01002e; 
  font-family: Karla;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 0;
}

.title {
  color: #01002e;
  font-family: Karla;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 10px 0;
}

.forma-div p {
  color: #01002e;
  font-family: Karla;
  font-size: 30px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  width: 80%;
}

/* Porque */

.porque {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 50px;
  padding-bottom: 100px;
  background-color: #4089e9;
  color: #ffffff;
}

.porque h2 {
  text-align: center;
  font-family: Karla;
  font-size: 50px;
  font-style: normal; 
  font-weight: 600;
  line-height: normal;
  margin-bottom: 100px;
}

.porque img {
  height: 400px;
}

.porque-div {
  display: flex;
  gap: 50px;
  margin: 0 100px;
  width: 80%;
  justify-content: center;
  align-items: center;
}

.porque-div .title {
  color: #ffffff;
}

.porque-div div {
  width: 50%;
  margin-left: 50px;
}

.porque div p {
  font-family: Karla;
  font-size: 30px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  width: 80%;
}

.p-foot {
  font-family: Karla;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 120px 0;
}



/* Como Unirte */

.como-unirte{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 50px;
  padding-bottom: 100px;
  color: #01002e;
}

.como-unirte h2 {
  text-align: center;
  font-family: Karla;
  font-size: 50px;
  font-style: normal; 
  font-weight: 600;
  line-height: normal;
  margin-bottom: 100px;
}

.como-unirte img {
  height: 250px;
  width: 250px;
  border-radius: 500px;
  object-fit: cover;
}

.cu-div {
  display: flex;
  gap: 50px;
  margin: 0 100px;
  width: 90%;
}

.cu-div h3 {
  margin-top: 20px;
  font-size: 30px;
}

.cu-div div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.como-unirte div p {
  font-family: Karla;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  width: 80%;
  text-align: center;
}
