@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Oswald:wght@200..700&display=swap');
@import url('https://db.onlinewebfonts.com/c/7cd12d722c35d3a4ee211fe493a74950?family=ITC+Zipper+W02');

@keyframes bounceAndRotate {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0) rotate(0deg);
  }

  40% {
    transform: translateY(-20px) rotate(360deg);
  }

  60% {
    transform: translateY(-15px) rotate(180deg);
  }
}

:root {
  --rosa-ewe: #f1a8c6;
  --naranja-ewe: #dc7377;
  --azul-claro-ewe: #c2ebff;
  --azul-fuerte-ewe: #094092;
  --rojo-ewe: #ca1217;
  --titulos: 'ITC Zipper W02', serif;
  --subtitulos: 'Oswald', serif;
  --texto-gral: 'Mulish', serif;
}

/* Animaciones */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in,
.slide-in-left {
  opacity: 0;
  transition: all 1.5s ease-out;
}

.fade-in.visible {
  opacity: 1;
  transform: translateY(0);
}

.slide-in-left {
  transform: translateX(-100px);
}

.slide-in-left.visible {
  opacity: 1;
  transform: translateX(0);
}

@keyframes slideInRight {
  from {
    opacity: 0;
    transform: translateX(100px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale(0.8);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

.slide-in-right {
  opacity: 0;
  transform: translateX(100px);
  transition: all 1s ease-out;
}

.slide-in-right.visible {
  opacity: 1;
  transform: translateX(0);
}

.zoom-in {
  opacity: 0;
  transform: scale(0.5);
  transition: all 1s ease-out;
}

.zoom-in.visible {
  opacity: 1;
  transform: scale(1);
}

@keyframes bounce {
  0% { transform: scale(1); }
  30% { transform: scale(1.1); } /* Crece un poco */
  50% { transform: scale(0.95); } /* Se hace más pequeño */
  70% { transform: scale(1.05); } /* Rebote extra */
  100% { transform: scale(1); } /* Vuelve a su tamaño normal */
}

.bouncing-button {
  color: white;
  font-size: 18px;
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  animation: bounce 1s ease-in-out infinite;
  animation-delay: 2s; /* Espera 2 segundos antes de repetir */
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

#navbar {
  background-color: var(--azul-claro-ewe);
  display: flex;
  align-items: center;
  height: 100px;
  width: 100%;
  padding: 0 30px;
  position: fixed;
  box-sizing: border-box;
  z-index: 3;
}

.logo-ewe {
  height: 80px;
  margin-right: 10px;
}

#nav-desktop {
  display: none;
}

#nav-desktop li a {
  font-family: var(--subtitulos);
  font-weight: 300;
  font-size: 18px;
}

#ham-btn,
#close-btn {
  height: min-content;
  padding: 0;
  display: flex;
  margin-left: auto;
  align-items: center;
  justify-content: center;
  border: none;
  background: none;
}

#ham-btn img,
#close-btn img {
  height: 30px;
}

#close-btn {
  display: none;
}

/* Whatsapp button */

#whatsapp {
  height: 100px;
  position: fixed;
  bottom: 0;
  right: 20px;
  z-index: 3;
}

#whatsapp img {
  height: 50px;
  animation: bounceAndRotate 4s infinite;
}

/* Nav Menu */

#nav-menu {
  position: fixed;
  background-color: var(--azul-claro-ewe);
  width: 100%;
  height: 100vh;
  z-index: 5;
  border-top: 1px solid var(--rojo-ewe);
  margin-top: 100px;
}

#nav-menu ul {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 30px;
  list-style: none;
}

#nav-menu ul li a {
  color: #000;
  font-family: var(--subtitulos);
  font-size: 18px;
  font-weight: 300;
  text-transform: uppercase;
  text-decoration: none;
}

.insc-btn {
  color: #fff;
  font-size: 18px;
  text-decoration: none;
  font-family: var(--subtitulos);
  font-weight: 300;
  letter-spacing: 3px;
  border: none;
  background: var(--rojo-ewe);
  padding: 10px 15px;
  border-radius: 25px;
  width: fit-content;
}

/* Footer */

footer {
  color: #fff;
  background: #235093;
  font-family: var(--texto-gral);
  font-weight: 300;
  font-size: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 4;
}

.footer-div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 5px 0;
}

.footer-div a {
  color: #fff;
  font-family: var(--texto-gral);
  font-size: 13px;
  font-weight: 700;
}

.footer-div a:hover {
  transform: scale(1.1);
}

.footer-div p {
  margin: 0;
  text-align: center;
}

.links-footer {
  gap: 10px;
}

.links-footer a {
  text-decoration: none;
}

.links-footer img {
  height: 30px;
  margin: 5px;
}

.links-footer img:hover {
  transform: scale(1.1);
}

.sub-footer {
  font-size: 9px;
  font-family: var(--texto-gral);
  background-color: #183c4b;
  color: #fff;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 4;
  display: none;
}

.sub-footer p {
  margin: 0;
}

@media (min-width: 601px) {
  .footer-div {
    justify-content: center;
    gap: 25px;
  }

  .footer-div br {
    display: none;
  }

  .footer-div a,
  .footer-div p {
    margin-left: 5px;
  }

  .sub-footer {
    justify-content: center;
  }
}

@media (min-width: 1024px) {
  #ham-btn,
  #close-btn {
    display: none;
  }

  #whatsapp img {
    height: 60px;
  }

  #main-logo {
    padding-left: 50px;
  }

  #nav-desktop {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 30px;
    margin-left: auto;
    padding: 0;
  }

  #nav-menu ul li {
    white-space: nowrap;
  }

  #nav-desktop li a {
    text-decoration: none;
    color: #000;
  }

  #nav-desktop li a:hover {
    transform: scale(1.1);
    color: var(--rojo-ewe);
  }

  .insc-btn {
    color: #fff;
    font-size: 18px;
    text-decoration: none;
    font-family: var(--subtitulos);
    font-weight: 300;
    letter-spacing: 2px;
    border: none;
    background: var(--rojo-ewe);
    padding: 10px 15px;
    border-radius: 25px;
  }

  .insc-btn:hover {
    transform: scale(1.025);
  }

  footer {
    align-items: center;
  }

  .footer-div {
    width: 50%;
    justify-content: center;
    gap: 25px;
  }

  .footer-div br {
    display: none;
  }

  .footer-div a,
  .footer-div p {
    margin-left: 5px;
  }

  .sub-footer {
    justify-content: center;
  }
}
