@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Bebas+Neue&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

@keyframes bounceAndRotate {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0) rotate(0deg);
  }
  40% {
    transform: translateY(-30px) rotate(360deg);
  }
  60% {
    transform: translateY(-15px) rotate(180deg);
  }
}

:root {
  --rosa-ewe: #fdaff2;
  --azul-claro-ewe: #c0f9f9;
  --azul-fuerte-ewe: #061069;
  --rojo-ewe: #ca1217;
  --titulos: 'Barlow Condensed', serif;
  --subtitulos: 'Bebas Neue', serif;
  --texto-gral: 'Nunito', serif;
}

/* Animaciones */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in, .slide-in-left {
  opacity: 0;
  transition: all 0.6s ease-out;
}

.fade-in.visible {
  opacity: 1;
  transform: translateY(0);
}

.slide-in-left {
  transform: translateX(-100px);
}

.slide-in-left.visible {
  opacity: 1;
  transform: translateX(0);
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

#navbar {
  background-color: var(--azul-claro-ewe);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  width: 100%;
  padding: 0 30px;
  position: fixed;
  box-sizing: border-box;
  z-index: 3;
  box-shadow: #00000040 5px 5px 10px;
}

.logo-ewe {
  height: 80px;
}

#nav-desktop {
  display: none;
}

#ham-btn,
#close-btn {
  height: min-content;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background: none;
}

#ham-btn img,
#close-btn img {
  height: 30px;
}

#close-btn {
  display: none;
}

/* Whatsapp button */

#whatsapp {
  height: 100px;
  position: fixed;
  bottom: 0px;
  right: 20px;
  z-index: 3;
}

#whatsapp img {
  height: 65px;
  animation: bounceAndRotate 4s infinite;
}

/* Nav Menu */

#nav-menu {
  position: fixed;
  background-color: var(--azul-claro-ewe);
  width: 100%;
  height: 100vh;
  z-index: 3;
  border-top: 1px solid #b4b4b4;
  margin-top: 100px;
}

#nav-menu ul {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 30px;
  list-style: none;
}

#nav-menu ul a {
  color: var(--azul-fuerte-ewe);
  font-family: var(--subtitulos);
  font-size: 25px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-underline-offset: 5px;
}

/* Footer */

footer {
  color: #fff;
  background: #ca1217;
  font-family: var(--texto-gral);
  font-size: 13px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 4;
  box-shadow: #00000040 5px 5px 10px;
}

.footer-div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 5px 0;
}

.footer-div a {
  color: #ffffff;
  font-family: var(--texto-gral);
  font-size: 13px;
  font-weight: 700;
}

.footer-div a:hover {
  transform: scale(1.1);
}

.footer-div p {
  margin: 0;
  text-align: center;
}

.links-footer {
  gap: 10px;
}

.links-footer a{
  text-decoration: none;
}

.links-footer img {
  height: 30px;
  margin: 5px;
}

.links-footer img:hover {
  transform: scale(1.1);
}

.sub-footer {
  font-size: 12px;
  font-family: var(--texto-gral);
  background-color: #183C4B;
  color: #ffffff;
  display: flex;
  text-align: center;
  align-items: center;
  height: 40px;
  width: 100%;
  margin: 0;
  box-sizing: border-box;
  justify-self: flex-end;
  padding: 10px;
  position: relative;
  z-index: 4;
}

@media (min-width: 601px) {
  .footer-div {
    justify-content: center;
    gap: 25px;
  }

  .footer-div br {
    display: none;
  }

  .footer-div a,
  .footer-div p {
    margin-left: 5px;
  }
  
  .sub-footer {
    justify-content: center;
  }
}

@media (min-width: 1025px) {
  #ham-btn,
  #close-btn {
    display: none;
  }

  #main-logo {
    margin-right: 20px;
  }

  #nav-desktop {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 30px;
    margin-left: auto;
    padding: 0;
  }

  #nav-menu ul li {
    white-space: nowrap;
  }

  #nav-desktop li a {
    font-family: var(--subtitulos);
    font-size: 20px;
    text-decoration: none;
    color: #000000;
    letter-spacing: 2px;
  }
  
  #nav-desktop li:hover {
    text-decoration: underline;
    transform: scale(1.025);
  }
  
  .insc-btn {
    color: #ffffff;
    font-size: 20px;
    text-decoration: none;
    font-family: var(--subtitulos);
    letter-spacing: 2px;
    border: none;
    background: var(--rojo-ewe);
    padding: 10px 15px;
    border-radius: 25px;
    box-shadow: #00000040 5px 5px 10px;
  }
  
  .insc-btn:hover {
    transform: scale(1.025);
  }

  footer {
    align-items: center;
  }

  .footer-div {
    width: 50%;
    justify-content: center;
    gap: 25px;
  }

  .footer-div br {
    display: none;
  }

  .footer-div a,
  .footer-div p {
    margin-left: 5px;
  }
  
  .sub-footer {
    justify-content: center;
  }
}