.test {
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  padding-top: 100px;
  background: linear-gradient(180deg, #ffb4bade, #fff);
}

#form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#form-container h3 {
  font-family: var(--subtitulos);
  font-weight: 300;
  color: #000;
  font-size: 21px;
  padding: 30px 0;
  margin: 0;
  margin-top: 20px;
  text-align: center;
}

#user-form,
#question-container {
  width: 250px;
  height: 325px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-family: var(--texto-gral);
  color: #000;
  font-size: 16px;
  font-weight: 300;
  background-color: var(--azul-claro-ewe);
  padding: 20px;
  border-radius: 15px;
  margin-bottom: 50px;
  gap: 15px;
}

#test-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#question-container {
  margin: 50px 0;
  margin-top: 20px;
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
}

input {
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 10px;
  margin: 10px 0;
  width: 100%;
  cursor: pointer;
}

input::placeholder {
  font-family: var(--texto-gral);
}

#phone {
  width: 37%;
}

#birthdate {
  width: 41%;
  font-family: var(--texto-gral);
  color: rgb(104, 104, 104);
  margin-left: auto;
}

button {
  font-family: var(--texto-gral);
  font-size: 16px;
  font-weight: 300;
  border-radius: 15px;
  color: var(--rojo-ewe);
  background-color: var(--rosa-ewe);
  padding: 5px 20px;
  margin: 15px 0;
  margin-left: auto;
  border: none;
  cursor: pointer;
}

#user-form input:hover,
#contact-method:hover,
button:hover {
  transform: scale(1.025);
}

/* Test questions */

#options {
  margin: 10px 0;
  height: 150px;
}

#options label {
  font-style: var(--texto-gral);
  color: #000;
  font-weight: 300;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  font-size: 16px;
}

#options input[type="radio"] {
  width: 16px;
  height: 16px;
}

#next {
  font-family: var(--subtitulos);
  font-size: 16px;
  font-weight: 300;
  border-radius: 15px;
  color: var(--rojo-ewe);
  background-color: var(--rosa-ewe);
  padding: 5px 20px;
  border: none;
}

#next:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

#question-container div {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 20px 0;
}

#question {
  font-family: var(--texto-gral);
  font-size: 16px;
  font-weight: 300;
  color: #000;
  margin: 0;
  height: 80px;
}

#progress-container {
  width: 230px;
  background-color: #fff;
  border-radius: 15px;
  margin: 20px auto;
  overflow: hidden;
}

#progress-bar {
  width: 0;
  height: 20px;
  background-color: var(--naranja-ewe);
  border-radius: 15px;
  transition: width 0.3s;
}

#question-counter {
  text-align: center;
  font-family: var(--subtitulos);
  font-weight: 300;
  font-size: 21px;
  margin-bottom: 20px;
}

#results-container {
  background-color: var(--azul-claro-ewe);
  border-radius: 15px;
  margin: 100px;
  width: 250px;
  height: 370px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 20px;
}

#main-results {
  display: flex;
  width: 100%;
  gap: 5px;
}

#left-results,
#right-results {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#results-container h1 {
  text-align: center;
  font-family: var(--texto-gral);
  color: var(--rojo-ewe);
  font-size: 21px;
  font-weight: 300;
  width: 90%;
  margin: 30px 0;
}

#main-results h2 {
  font-size: 21px;
  font-weight: 300;
  font-family: var(--subtitulos);
  color: #fff;
  background-color: var(--rojo-ewe);
  text-align: center;
  border-radius: 5px;
  line-height: 100%;
  padding: 2px;
  margin: 10px 0 20px 0;
}

#main-results h3 {
  text-align: center;
  font-family: var(--texto-gral);
  color: #000;
  font-size: 16px;
  font-weight: 300;
  width: 90%;
}

#main-results p {
  text-align: center;
  font-family: var(--texto-gral);
  color: #000;
  font-size: 16px;
  font-weight: 300;
  width: 90%;
  margin: 0;
  margin-bottom: 10px;
}

.button {
  font-family: var(--texto-gral);
  font-size: 16px;
  font-weight: 300;
  border-radius: 15px;
  color: var(--rojo-ewe);
  background-color: var(--rosa-ewe);
  padding: 5px 15px;
  border: none;
  cursor: pointer;
  text-decoration: none;
  white-space: nowrap;
}

#results-container img {
  height: 100px;
}

@media (min-width: 1024px) {
  #user-form {
    width: 250px;
    height: auto;
    flex-wrap: wrap;
  }

  #question-container {
    width: 250px;
    height: 370px;
  }

  #progress-container {
    width: 550px;
  }
}
