.test-view {
	padding-top: 110px;
}

.div-test-v {
	margin: 100px 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.div-test-v h3 {
	color: #01002e;
	font-family: Karla;
	font-size: 30px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	text-align: center;
}

.div-test-v p,
.div-test-v a {
	color: #01002e;
	font-family: Karla;
	font-size: 20px;
	font-style: normal;
	font-weight: 300;
	line-height: normal;
	text-align: center;
	width: 80%;
}
