.test {
  padding: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  padding-top: 100px;
}

#form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#form-container h3 {
  font-family: var(--texto-gral);
  color: #061069;
  font-size: 20px;
  padding: 30px 0;
  margin-top: 20px;
  margin: 0;
  text-align: center;
}

#user-form,
#test-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  font-family: var(--texto-gral);
  color: #061069;
  font-size: 18px;
  font-weight: 400;
  background-color: var(--azul-claro-ewe);
  padding: 30px;
  border-radius: 30px;
  margin-bottom: 50px;
}

#test-container {
  margin: 50px 0;
}

#user-form div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

label {
  margin: 10px;
}

input {
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 10px;
  margin: 10px 10px 10px 0;
  width: 59%;
}

input::placeholder {
  color: #061069;
  font-family: var(--texto-gral);
}

#birthdate {
  flex-grow: 1;
  font-family: var(--texto-gral);
  color: #061069;
}

#contact-method {
  font-family: var(--texto-gral);
  color: #061069;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 10px;
  margin: 10px 10px 10px 0;
  flex-grow: 1;
}

button {
  font-family: var(--texto-gral);
  font-size: 15px;
  font-weight: 700;
  border-radius: 30px;
  color: var(--rojo-ewe);
  background-color: var(--rosa-ewe);
  padding: 10px 20px;
  margin: 15px 0;
  margin-left: auto;
  border: none;
}

button:hover {
  transform: scale(1.025);
}

/*Test questions*/

#test-container {
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#options {
  margin: 20px 0;
}

#options label {
  font-style: var(--texto-gral);
  color: var(--azul-fuerte-ewe);
  font-weight: 500;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  font-size: 18px;
}

#options input[type="radio"] {
  accent-color: var(--rosa-ewe);
  width: 20px;
  height: 20px;
}

#options input[type="radio"]:checked {
  border: none;
}

#next {
  font-family: var(--subtitulos);
  font-size: 18px;
  font-weight: 500;
  border-radius: 30px;
  color: var(--rojo-ewe);
  background-color: var(--rosa-ewe);
  padding: 10px 20px;
  border: none;
  letter-spacing: 2px;
}

#next:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}