.test {
  flex: 1;
  padding-top: 110px;
  display: flex;
  justify-content: center;
}

#form-container {
  margin-top: 50px;
  width: fit-content;
}

#form-container h3 {
  font-family: var(--texto-gral);
  color: #061069;
  font-size: 20px;
  padding: 30px 0;
  margin: 0;
}

#user-form,
#test-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width:650px;
  font-family: var(--texto-gral);
  color: #061069;
  font-size: 17px;
  font-weight: 400;
  background-color: var(--azul-ewe);
  padding: 30px;
  border-radius: 30px;
}

#user-form div {
  width: 50%;
  display: flex;
  align-items: center;
}

label {
  margin: 10px;
}

input {
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 10px;
  margin: 10px 10px 10px 0;
  flex-grow: 1;
}

input::placeholder {
  color: #061069;
  font-family: var(--texto-gral);
}

#birthdate {
  width: 100px;
  font-family: var(--texto-gral);
  color: #061069;
}

#contact-method {
  font-family: var(--texto-gral);
  color: #061069;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 10px;
  margin: 10px 10px 10px 0;
  flex-grow: 1;
}

button {
  font-family: var(--texto-gral);
  font-size: 15px;
  font-weight: 700;
  border-radius: 30px;
  color: var(--rojo-ewe);
  background-color: var(--rosa-ewe);
  padding: 10px 20px;
  margin: 15px 0;
  margin-left: auto;
  border: none;
}

button:hover {
  transform: scale(1.025);
}

/*Test questions*/

#test-container {
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#options {
  margin: 20px 0;
}

#options label {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  font-size: 16px;
}

#options input[type="radio"] {
  accent-color: var(--rosa-ewe);
  width: 20px;
  height: 20px;
}

#options input[type="radio"]:checked {
  border: none;
}

#next {
  font-family: var(--texto-gral);
  font-size: 15px;
  font-weight: 700;
  border-radius: 30px;
  color: var(--rojo-ewe);
  background-color: var(--rosa-ewe);
  padding: 10px 20px;
  border: none;
}

#next:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

@media (max-width: 1440px) {
  #form-container {
    margin-bottom: 50px;
  }

  #test-container {
    margin: 50px 0;
  }
}
